package layouts

templ Base(title string, scripts ...templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>{ title }</title>
			<link href="/static/css/style.css" rel="stylesheet"/>
			for _, s := range scripts {
				@s
			}
		</head>
		<body class="bg-background text-primary">
			{ children... }
		</body>
	</html>
}

templ HtmxScript() {
	<script src="https://unpkg.com/htmx.org@2.0.4" crossorigin="anonymous"></script>
}
