package blog

import "github.com/levifitzpatrick1/blog/internal/utils"

templ PostCardList(posts []utils.Post) {
	<div class="mx-auto max-w-3xl px-4">
		<div class="post-list flex flex-col">
			for _, post := range posts {
				@PostCard(post)
			}
		</div>
		if len(posts) == 0 {
			<div class="text-center py-16">
				<div class="py-8">
					<span class="material-symbols-outlined text-5xl mx-auto mb-4 text-secondary block leading-none">sentiment_satisfied</span>
					<p class="text-lg text-secondary font-medium">No posts found</p>
					<p class="text-sm text-secondary mt-1">Try adjusting your search</p>
				</div>
			</div>
		}
	</div>
}
