package blogs

import "github.com/levifitzpatrick1/blog/internal/utils"

templ PostPage(data utils.Post) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>{ data.Title }</title>
			<link rel="stylesheet" href="/static/css/style.css"/>
		</head>
		<body class="bg-background p-4 sm:p-6 md:p-8">
			<div class="max-w-4xl mx-auto bg-card-background p-6 sm:p-8 rounded-lg shadow">
				<div class="mb-4">
					<a href="/blog" class="back-button text-2xl text-background bg-accent w-auto px-2 py-0.5 rounded-2xl hover:bg-accent-hover inline-block overflow-hidden">
						<span class="arrow-span">&larr;</span>
					</a>
				</div>
				<div class="mb-8">
					<h1 class="text-4xl font-bold text-primary mb-2">
						{ data.Title }
					</h1>
					<p class="text-sm text-secondary">
						Levi Fitzpatrick | Published: { data.CreateDate.Format("January 2, 2006") }
						if !data.ModifyDate.IsZero() && !data.ModifyDate.Equal(data.CreateDate) {
							Modified: { data.ModifyDate.Format("January 2, 2006") }
						}
					</p>
				</div>
				<div class="prose prose-invert">
					<h3>Kill me</h3>
					<p>Some paragraph text.</p>
				</div>
				<article class="prose">
					@templ.Raw(data.HTMLContent)
				</article>
			</div>
		</body>
	</html>
}
