<!doctype html>
<html>
    <head>
        <title>Blog HomePage</title>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <link href="../static/css/style.css" rel="stylesheet" />
    </head>
    <body class="bg-background text-primary">
        <h1 class="content-center text-center text-3xl text-primary">
            Levi Fitzpatrick
        </h1>
        <p class="text-secondary text-xl max-w-4xl text-left p-8">
            I am Levi Fitzpatrick. This site is a place for me to store posts
            about projects and Ideas that I have, and are currently, working on.
            Many of the posts here will end up being related to designing FRC
            Robots both in mechanical and software scopes. I am currently a lead
            mentor of FRC Team 2064 Panther Project, mainly filling the role of
            sofware engineer mentor. This stems from my career choice of a
            mechanical engineer masquarading as a software engineer.
        </p>
        <div class="my-8 flex justify-center px-4">
            <div class="w-full md:w-2/3 lg:w-1/2">
                <input
                    class="w-full border-1 border-border bg-card-background text-primary rounded-full py-3 px-5 transition-all duration-300 focus:outline-none focus:border-accent-hover focus:ring-1 focus:ring-accent-hover"
                    type="search"
                    name="search"
                    placeholder="Search for a post..."
                    hx-post="/search"
                    hx-trigger="input changed delay:500ms, search"
                    hx-target="#blogs"
                    hx-indicator=".htmx-indicator"
                />
            </div>
        </div>
        <div id="Blogs">
            {{ block "post-list" .PostsData }} {{ template
            "post_card_list.html". }} {{ end }}
        </div>
    </body>
</html>
