<!doctype html>
<html>
    <head>
        <title>Blog HomePage</title>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <link href="../static/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <h1 class="content-center text-center text-3xl text-primary">
            This is my homepage
        </h1>
        <div>
            <input
                class="form-control"
                type="search"
                name="search"
                placeholder="Search for A Post..."
                hx-post="/search"
                hx-trigger="input changed delay:500ms, keyup[=='Enter'], load"
                hx-target="#Blogs"
                hx-indicator=".htmx-indicator"
            />
        </div>
        <div id="blogs">
            {{ range .PostsData.Posts }}
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
                <div class="font-bold text-primary text-xl mb-2">
                    {{ .Title }}
                </div>
                <p class="text-primary">
                    {{ .Excerpt }}
                </p>
                <a href="/blog/{{ .Slug }}"
                    class="size-2 rounded-b-sm bg-red-700 text-primary">
                        Go
                    </a>
            </div>
        </div>
        {{ end }}

    </body>
</html>
