@import "tailwindcss";

@theme {
    --color-background: #191919;
    --color-card-background: #202020;
    --color-primary: #fcfcfd;
    --color-secondary: #919395;
    --color-border: #475569;

    --color-accent: #06b6d4;
    --color-accent-hover: #0891b2;
}
