package frc

import "github.com/levifitzpatrick1/levifitzpatrick.page/web/templates/layouts"
import "github.com/levifitzpatrick1/levifitzpatrick.page/web/templates/components/frc"

templ Frc() {
	@layouts.Sub("Frc", "/frc", layouts.HtmxScript()) {
		@frc.Accordion([]frc.AccordionItem{})
		<div>
			frc stuff here
		</div>
	}
}
