package components

import "github.com/levifitzpatrick1/blog/internal/database/generated"

templ PostCardList(posts []db.ListPostsRow) {
	<div id="blogs" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
		for _, post := range posts {
			@PostCard(post)
		}
	</div>
}
